* {
    margin: 0;
    padding: 0;
    color: #434343;
}

body {
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'ChangaOne';
    src: url(../assets/fonts/ChangaOne-Regular.ttf);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    padding-left: 120x;
    padding-right: 120px;
}

.logo {
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
}

a {
    font-family: 'Roboto';
    font-weight: 550;
    text-decoration: none;
    color: #495367;
}

.icon-items {
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.home-link {
    color: #8A53FF;
}

.nav-bar {
    gap: 50px;
}

.icon {
    padding-top: 20px;
}

.icon-items {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 20px;
}

.main-container {
    background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%) , url('../assets/images/sea.jpeg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-violet {
    color: #8A53FF ;
}

.changa-one {
    font-family: 'ChangaOne';
    font-weight: 400px;
    font-size: 70px;
    padding-bottom: 20px;
}

.roboto {
    font-family: 'Roboto' , sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.main-text {
    width: 500px;
    height: 250px;
    margin-left: 140px;
    padding-top: 80px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
}

.buttons button {
    font-size: 16px;
    font-family: 'Roboto';
    width: 165px;
    height: 46px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background-color:  #8A53FF;
    cursor: pointer;
}

.buttons span {
    font-family: 'Roboto';

}

.buttons img {
    cursor: pointer;
}

.main-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 560px;
    gap: 60px;
}

.image-mountains img {
    width: 540px;
    height: 340px;
    border-radius: 8px;
}

.main-text2 {
    width: 580px;
    height: 300px;

}

.mountains-text {
    margin-bottom: 25px;
}

.mountains-violet {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #8A53FF;
}

.button-play-mountains {
    display: flex;
    align-items: center;
    gap: 18px;
}

.button-play-mountains span {
    color: #8A53FF;
}


.mountains-black {
    font-family: 'ChangaOne';
    font-size: 40px;
    padding-bottom: 10px;
}

.button-play-mountains img {
    cursor: pointer;
}

